body{font-family: 'Montserrat', sans-serif;}

.sec{display: flex;
    margin: 0%;
    align-items:center;
}
span{color: coral;}
h1{font-weight: 700;
    font-size: 38px;
    margin: 1% 0%;
}
.sec-div {margin: 5%;
width: 31.5%;}
.sec-div img{width: 80%;} 

#man img{width: 100%;}

#sec2-id{background-image: url(./image/7.png);
background-repeat: no-repeat;}


#sec-img2{margin-block-end: 0%;}

.button{text-decoration: none;
    background-color: coral;
    padding: 10px 20px;
    border-radius: 5px;
    color: aliceblue;
}


.recipie{border-radius: 3%;
    margin: 4%;
    box-shadow: 5px 10px 5px 8px rgb(201, 201, 201);
    padding: 4px;
}
.recipie img{width: 550px;
    height: 308px;
}
.recipie-text{padding: 15px;}

.myRecipies{
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}


.sec-social{
    display: flex;
    margin: 4%;
    padding: 2%;
    box-shadow: 5px 5px 10px 5px rgb(212, 212, 212);
    border-radius: 10px;

}

.sec-social1{margin: 0% 10%;}

.footer{
    background: rgb(17, 17, 17);
    padding: 4%;
    text-align: center;
}
#footer{color: dimgray;}
.footer p{color: aliceblue;}